@import url('https://fonts.googleapis.com/css2?family=Gulzar&display=swap');

*{

    font-family:   'Gulzar', serif;
}

h1{
    color: #2b7d80;

}
h2{
    text-align: center;   
}
.textoInicio{
  border: 2px #61a9d6 solid;
  background-image: url(../trab-Bootstrap/fotitos/Diseño\ sin\ título\ \(1\).png);
  
}
.logo{
    width: 150px;
}

div img {
    width: 50%;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../trab-Bootstrap/fotitos/Diseño\ sin\ título\ \(8\).png);

}
ul{
    display: flex;
    text-decoration: none;
    gap: 10px;
       
}
ul li {
    display: flex;
    list-style: none;
    margin-left: 10px;
    gap: 10px;
}
a{
    display: flex;
    text-decoration: none;
    color: rgb(35, 70, 133);
 
    
}
nav{
    display: flex;
    justify-content: center;
    background-color: #669dca;
    
}
footer {
    background-color:  #61a9d6;
   
}
.footerInicio{
    
    text-align: center;
}
.hacheUno{
    text-align: center;
}